.search {
    max-width:600px; 
    padding-bottom: 60px;
}

.card:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #192186;
    opacity: 0.4;
    transition: all 0.5s linear;
  }

  .card:hover:before {
    background: none;
  }


  